body {
  background-color: rgb(189, 152, 152);
}

.button {
  background-color: #1a237e;
  color: white; 
  text-decoration: none; 
  padding: 10px 20px; 
  border-radius: 4px; 
  display: block; 
  text-align: center; 
  font-weight: bold; 
  margin-top: 10px; 
}

.product-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}
.product-card {
  width: 300px;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #484e92;
}
.product-title {
  font-family: Arial, Helvetica, sans-serif;
  color: (#ffffff);
  margin-top: 0;

.product-price {
  font-weight: bold;
  color: #2e7d32; 
  font-size: 16px; 
  margin: 0 0 10px;